html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  background-color: #ffff;
}

main {
  margin: 1em;
  padding: 2rem;
}

img {
  width: 100%;
}

ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav {
  color: #fff;
}

li {
  display: inline-block;
  margin: 1rem;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21.3px;
}

h1 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  color: #fff;
}

h2 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26.6px;
}

h3 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h4 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h5, nav {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21.3px;
}

h6 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18.6px;
  padding: 1rem;
}

.logo {
  color: #fff;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: row;
  padding: 2rem;
}

div {
  flex-direction: row;
  display: inline-block;
  margin: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  padding: 2rem;
  background-color: #000;
  background-size: 100px;
  background-position: center;
  background-image: url("images/banner.jpg");
}

header img {
  min-width: 50px;
  max-width: 100px;
}

.runway img{
  width: 100px;
  justify-content: center;
}
.artists img {
  min-width: 50px;
  max-width: 300px;
  padding: 20px;
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
  color: #ff0000;
}


button {
  color: #000;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 5px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21.3px;
  max-width: 150px;
  max-height: 50px;
}

button:hover,
button:focus {
  text-decoration: underline;
  background-color: #ff0000;
  color: #fff;
}

footer {
  text-align: center;
  padding: 4rem;
  background-color: #000;
  color: #fff;
  margin: 00px 00px 00px 00px;
}

footer img {
  min-width: 50px;
  max-width: 100px;
}

/*  tablet */
@media only screen and (min-width: 768px) {

/* desktop */
@media only screen and (min-width: 1280px) {
