html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  font-size: 100%;
}

body {
  background-color: #ffff;
  margin: 1em;
  padding: 2rem;
}

img {
  width: 100%;
}

h1 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
}

h2 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 26.6px;
}

h3 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

h4 {
  font-family: dazzle-unicase, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

h5, nav {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21.3px;
}

h6 {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
}

p {
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 18.6px;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
}

header nav ul li a:hover,
header nav ul li a:focus {
  text-decoration: underline;
  color: #ff0000;
}


button {
  color: #000;
  border: 2px solid #000;
  background-color: #fff;
  border-radius: 5px;
  font-family: itc-avant-garde-gothic-pro, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 21.3px;
}

button:hover,
button:focus {
  text-decoration: underline;
  background-color: #ff0000;
  color: #fff;
}

footer {
  text-align: center;
  padding: 3rem;
  background-color: #000;
}

/*  tablet */
@media only screen and (min-width: 768px) {

/* desktop */
@media only screen and (min-width: 1280px) {
